/* No CSS *//*# sourceMappingURL=main.css.map */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    display: flex;
    flex-wrap: wrap
}
.head{
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    background-color: rgb(255,255,255,5);
    animation: animate 35s ease-in-out infinite;
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
@keyframes animate {
    0%{
        background-image: url(images/red-wine-2443699_1920.jpg);
    }
    20%{
        background-image: url(images/eat-1705556_1920.jpg);
    }
    40%{
        background-image: url(images/georgian-cuisine-198356_1920.jpg);
    }
    60%{
        background-image: url(images/bistro-2594762_1920.jpg);
    }
    80%{
        background-image: url(images/barbecue-1239434_1920.jpg);
    }
    100%{
        background-image: url(images/doner-kebab-2335784_1920.jpg);
    }

}
span{
    color: black;
}
main {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    height: auto;
    flex-wrap: wrap;
}
.entete {
   height: 20px;
    width: auto;
    margin-right: 30em;
}
.section1 {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    background-image: url(images/dinner-table-444434_1920.jpg);
    margin-bottom: 2em;
    flex-wrap: wrap;
}
.article1, .article2{
    display: inline-block;
    position: relative;
    width: 45%;
    background-color: white;
    margin: 5em 0 5em 0;
    border-radius: 20px;
    box-shadow: inset 4px 4px rgb(167, 153, 153);
}
.article2 img{
    position: relative;
    width: 100%;
    height: 100%;
}
.article1 {
    color: black;
    text-align: center;
    padding-top: 2em;
    font-size: 1.2;   
}
.section1 .article1 p{
    padding: 10px;
}
.article1 h4 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%233b3b3b' stroke-width='10' stroke-opacity='0.28'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
    margin-bottom: 7px;
    height: 16vh;
    background-position: center;
}
.events {
    position: relative;
    height: 40vh;
    width: 100%;
    object-fit: cover;
}
.section2{
    width: 100%;
    height: auto;
}
.mycol{
    margin-top: 2em;
    
}
.mycol img{
    width: 95%;
    
}
figcaption {
    font-style: oblique;
}
.myR{
    margin-top: 1em;
    background-color: rgba(252, 250, 250, 0.5);
}
