@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
$blue : rgb(66, 139, 202); 
$screen-md-min: 768px;

body {
    background-color: white;
    display: block;
}

header {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: black;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='7' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 3px -2px 11px -3px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 3px -2px 11px -3px rgba(0,0,0,0);
    .navbar-brand {
        margin-right: 20em;
    }
    img {
        height: 30px;
        width: auto;
    }
    .nav-link {
        color: white;
    }
    .navbar-toggler-icon {
        color: white;
}
    li:hover {
    border-bottom: 1px solid white;
}
}

footer {
    margin-top: 15vh;
    background-color: black;
}

.social-links {
	width: 50px;
    margin-top: 1.5em;
}

.social-links img{
	width: 30px;
	margin: 5px auto;
    cursor: pointer;
    &:hover {
        background-color: $blue;
        transition: 0.4s;
        border-radius: 25px;
    }
    @media (max-width: $screen-md-min) {
        margin-top: 0;
        width: 50px;
    }
}

.main {
    height: 100%;
}

.list-group-item {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%233b3b3b' stroke-width='10' stroke-opacity='0.28'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

.epice {
    height: 25%;
    width: auto;
    box-shadow: 10px 10px 5px grey;
}

.entete {
    height: 20px;
    width: auto;
    margin-right: 30em;
}

.badge {
    float: right;
    background-image: linear-gradient(120deg, #bcbdbc 0%, #012536 100%);
}

.container-img {
    display: block;
    overflow: hidden;
}

.container-img .epice {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.container-img:hover .epice {
    transform: rotate(5deg) scale(1.7);
}

.underline--magical {
    background-image: linear-gradient(120deg, #bcbdbc 0%, #012536 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
    &:hover {
        background-size: 100% 88%;
        color: aliceblue;
    }
}
